<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Quiz APP</title>
  </head>
  <body>

    <div id="app">
        <div class="container mt-5 pt-5">
            <div class="col-md-6 mx-auto">
                <h3>Give Quiz</h3>
                <hr>
                <div id="questionsContainer">
                   
                </div>       
            </div>
        </div>
    </div>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script>
        $(document).ready(function() {
            const questionsContainer = $('#questionsContainer');    // Selecting the questions container
            const category = "{{category}}";    // Getting the category from Django

            // Function to fetch questions from the server
            function getQuestion() { 
                $.ajax({
                    url: `/api/get-quiz/?category=${category}`,
                    method: 'GET',
                    success: function(result) {
                        // Result is an object that contains all the data in JSON format
                        renderQuestions(result.data);
                    }
                });
            }

            // Function to render questions on the page
            function renderQuestions(questions) {
                questionsContainer.empty(); // Clear previous questions
                // Loop through each question and its answers
                $.each(questions, function(index, question) {
                    let questionDiv = $('<div></div>'); // Create a div for each question
                    questionDiv.append(`<p>${question.question}</p>`); // Add question text
                    //Loop  each answer of the current question and create radio buttons
                    $.each(question.answers, function(index, answer) {
                        let input = $('<input>').attr({
                            type: 'radio',
                            name: 'exampleRadios',
                            value: answer.answer
                        }).on('change', function(event) {
                            // Call checkAnswer function on change to check if answer is correct
                            checkAnswer(event, question.uid);
                        });
                        let label = $('<label></label>').text(answer.answer);  // Create label for answer
                        let div = $('<div></div>').addClass('form-check'); // Create a div for form-check
                        div.append(input, label); // Append input and label to form-check div
                        questionDiv.append(div);  // Append form-check div to question div
                    });
                    questionDiv.append($('<hr>')); // Add a horizontal line after each question
                    questionsContainer.append(questionDiv); // Append question div to questions container
                });
            }

            // Function to check the answer when a radio button is selected
            function checkAnswer(event, uid) {
                const questions = $('#questionsContainer .form-check');
                questions.each(function() {
                    const inputs = $(this).find('input');
                    inputs.each(function() {
                        if ($(this).prop('checked')) {
                            const isCorrect = $(this).data('is-correct');
                            if (isCorrect) {
                                console.log("Your answer is correct");
                                alert("Your answer is correct");
                            } else {
                                console.log("Your answer is incorrect");
                                alert("Your answer is incorrect");
                            }
                        }
                    });
                });
            }

            getQuestion(); // Call getQuestion function when document is ready
        });
   </script>
  </body>
</html>
